@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* Contact Form */
.contactForm input {
    display: block;
    box-sizing: border-box;
    width: 90%;
    border: 5px solid #969696;
    background: none;
    color: white;
  }

  .contactForm input:hover{
    transition: 1s;
    border: 5px solid #3BD8ED;
  }
.contactPage{
    height: 100%;
    padding-top: 5%;
    margin-bottom: 100px;

}
  .contactForm {
    width:60%;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    float:right;
    color:#969696;
    padding: 25px;
    padding-right: 5px;
  }
  
  
  .contactForm input[type=submit] {
    width: 90%;
    color: #969696;
    margin-bottom:100px;
  }
  .contactForm input[type=submit]:hover {
    transition: 1s;
    border: 5px solid #3BD8ed;
    color: #3BD8ED;
    background: none;

  }
  
  .contactForm textarea {
    display: block;
    width: 90% !important;
    background: none;
    border: 5px solid #969696;
    color: white;
    margin-bottom: 15px;
  }

  .contactForm textarea:hover{
    transition: 1s;
    border: 5px solid #3BD8ED;
  } 

  .contactText {
    float: left;
    color: white;
    text-align: left;
    width: 35%;
    margin-left: 25px;
    padding-top: 55px;
  }

  #map {
    height: 400px;
    width: 100%;

  }