@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

a {
    color:white;
    list-style: none;
}

a:hover {
  text-decoration: none;
}
.navbar a:hover {
  transition: 1s;
    color:#3BD8ED;
    
}
.navbar-dark .navbar-nav .nav-link {
  font-family:"Roboto" !important;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}
strong {
  margin-top: 10px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #3BD8ED;
}
.nav-link-name{
  padding-top: 15px;
  list-style: none;
}

/* .nav-link-name h1{

  list-style: none;
} */
  .logo {
    padding-right: 20px;
    width:20px;
  }

  .navbar p {
    font-family:"Roboto" !important;
    font-size: 15px;
  
  }

  .navbar h1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: -7px;
    font-family:"Roboto" !important;
    color: #3BD8ED !important;
  }
  .nav-link a{
    font-family:"Roboto" !important;
    margin-top: 15px;
    align-content: center;
    color: white;
  }

  .nav-link p{
    margin-top: 15px;
  }

  .nav-link a:hover {
      color: #3BD8ED;
  }
  
  .navbar{
    border-bottom: 2px solid rgba(255,255,255);
    background: black;
  }
  .navbar-nav {
    align-self:center;
    flex-direction: row;
    margin-right: 3.5%;
  }

  .social {

    margin-right: 10px;
  }
  
  .social img{
      flex-direction: row;
    width:25px;
  }

  ul.navbar-nav{
    align-items: center !important;
  }

  /* Top and Bottom borders go out */
#topBotomBordersOut  a:before,#topBotomBordersOut  a:after
{
    position: absolute;
    width: 80px;
    left: auto;
    height: 2px;
    background: #3BD8ED ;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

#topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

#topBotomBordersOut a:after
{
    bottom: 0px;
    color: #3BD8ED;
    transform: translateY(-10px);
}

#topBotomBordersOut a:hover:before, #topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

#navbarTogglerDemo03{
    background-color: black;
    z-index: 7;
    /* margin-left: -15px; */

}

.navbar-toggler {
  border-color: #3BD8ED !important;
  border: 1.5px solid;
}

@media only screen and (max-width: 600px){
 .navbar-collapse li a {

 }

 #topBotomBordersOut {
opacity: 0;
display: none;
 }
}

#navbarSupportedContent-333{

}