@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@media only screen and (max-width: 600px){
  html{
    width:100%;
  }
}
html, body{
  background-color:#191919;
  overflow-x:hidden;
  height: 100%;
}

body {
  position: relative;
}
#root{
  background-color:#191919;
  width: 100%;
}

#ridge{
  color: white !important;
}





